<div class="modal-header">
    <h4 class="modal-title" id="modal-title">{{currentAd.location}}</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
        (click)="closeModal('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>{{currentAd.price}}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="closeModal('cancel')">Cancel</button>
</div>