.bold {
    width: 100%;
    font-weight: bold;
    text-align: left;
}

.right {
    width: 100%;
    text-align: right;
}

.div.modal-body {
    margin-right: 0;
}

#contactCard {
    border-radius: 25px;
}

.card-header > h6 {
    text-align: left;
    margin-bottom: 0;
}

.left-column {
    text-align: left;
    align-self: center;
}

.right-column {
    text-align: center;
}

.input-group > .form-control {
    text-align: right;
    background-color: #ffffff;
}

.right-column > div > img {
    width: 150px;
    border-radius: 10px;
    border: 2px solid black;
}

#notAvailableTel {
    font-style: italic;
}