.picture-div {
    margin: 0px;
    display: block;
    background-size: contain;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-label {
  font-weight: bold;
}

::placeholder {
  font-style: italic;
}

/* ::ng-deep .card {
  border-radius: 25px;
} */