<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div class="container py-5">
  <div class="row mb-4">
    <h4 class="mb-0 col-6">Your ads</h4>
    <div class="mb-0 col-6" style="text-align: right; vertical-align: middle; font-size: larger;"
      *ngIf="isMobile">
      <button class="btn btn-secondary btn-sm" (click)="openAddAdModal()">
        <i class="material-icons">add</i>
      </button>
    </div>
    <div class="mb-0 col-6" style="text-align: right; vertical-align: middle; font-size: larger;"
      *ngIf="!isMobile">
      <button class="btn btn-secondary btn-sm" (click)="openAddAdModal()">Add new ad</button>
    </div>
  </div>

  <div class="row">
    <form class="form-details col-12">
      <div class="mb-3" *ngIf="ads.length != 0">

        <div *ngFor="let ad of ads; last as isLast;">

          <ngb-accordion>
            <ngb-panel>
              <ng-template ngbPanelHeader>

                <div class="d-flex align-items-center justify-content-between">
                  <div *ngIf="!isMobile">
                    <button ngbPanelToggle class="btn m-0">{{ad.location}}</button>
                  </div>
                  <div *ngIf="windowWidth > 470 && windowWidth < 992">
                    <button ngbPanelToggle class="btn m-0">{{shortenLocation(ad.location, 'small')}}</button>
                  </div>
                  <div *ngIf="windowWidth < 471">
                    <button ngbPanelToggle class="btn m-0">{{shortenLocation(ad.location, 'extra-small')}}</button>
                  </div>
                  <div>
                    <div *ngIf="isMobile">
                      <button class="btn btn-danger mr-1 ml-1 btn-sm" (click)="openEditAdModal(ad)">
                        <i class="material-icons">edit</i>
                      </button>
                      <button class="btn btn-danger ml-1 btn-sm" (click)="openDeleteModal(ad)">
                        <i class="material-icons">delete</i>
                      </button>
                    </div>
                    <div *ngIf="!isMobile">
                      <button class="btn btn-danger mr-1 ml-1 btn-sm" (click)="openEditAdModal(ad)">
                        Edit
                      </button>
                      <button class="btn btn-danger ml-1 btn-sm" (click)="openDeleteModal(ad)">
                        Delete
                      </button>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <form class="form-ad col-12">
                  <div class="row">
                    <img class="mb-3 col-md-4 picture-div" src="{{ad.picture}}">
                    <div class="mb-1 col-12 col-md-3">
                      <label for="adLocation" class="form-label">Size</label>
                      <p id="adLocation">{{ad.property.size}} m<sup>2</sup></p>
                    </div>
                    <div class="mb-1 col-12 col-md-3">
                      <label for="adPrice" class="form-label">Price</label>
                      <p id="adPrice">${{ad.price}}</p>
                    </div>
                    <div class="mb-1 col-12 col-md-2">
                      <label for="adRoom" class="form-label">Rooms</label>
                      <p id="adPrice">{{ad.property.roomNumber}}</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="mb-1 col-12 col-md-7">
                      <label for="adState" class="form-label">Details</label>
                      <p id="adState">{{translateDetails(ad.details)}}</p>
                    </div>
                    <div class="mb-1 col-12 col-md-3">
                      <label for="adState" class="form-label">State</label>
                      <p id="adState">{{translateString(ad.property.state)}}</p>
                    </div>
                    <div class="mb-1 col-12 col-md-2">
                      <label for="adType" class="form-label">Type</label>
                      <p id="adType">{{translateString(ad.property.type)}}</p>
                    </div>
                  </div>
                </form>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>

          <br *ngIf="!isLast">
        </div>

      </div>
      <h2 class="mt-4 mb-4 text-center text-muted" *ngIf="ads.length == 0">Currently you have no ads</h2>
    </form>
  </div>
</div>