<div class="py-5">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="card">
        <div class="card-header">
          <h4 class="mb-0">Map</h4>
        </div>
        <div class="card-body">
          <agm-map [scrollwheel]="true" [zoom]="zoom" [latitude]="47.49801" [longitude]="19.03991">
            <div *ngFor="let marker of markers">
              <agm-marker [latitude]="marker.lat" [longitude]="marker.lng"></agm-marker>
            </div>
          </agm-map>
        </div>
        <div class="card-footer">
          <p class="text-muted mb-0">© 2021</p>
        </div>
      </div>
    </div>
  </div>
</div>