::placeholder {
  font-style: italic;
};

.text-muted {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.picture-div {
  margin: 10px;
  /* display: block; */
  /* background: url(/assets/logo-black.png) no-repeat; */
  /* background-size: contain; */
  height: 100%;
  object-fit: cover;
}

input, label {
  display: block;
}