<app-navbar></app-navbar>

<!-- <div class="main-content container pb-5">
    <router-outlet></router-outlet>
</div> -->

<main class="main-content pb-5">
     <router-outlet></router-outlet>
</main>

<footer class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-2">
                <div class="mb-1 text-center">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="mr-5"></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a class="mr-5"></a>
                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">
            © 2021
        </div>
    </div>
</footer>