<body  class="inventory-body" [ngStyle] = "styleobject">


<div id ="background-image" >
<div >
    <form action="#" method="post" novalidate="novalidate">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <input type="text" class="form-control search-slt" placeholder="Enter Pickup City">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <input type="text" class="form-control search-slt" placeholder="Enter Drop City">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <select class="form-control search-slt" id="exampleFormControlSelect1">
                            <option>Select Vehicle</option>
                            <option>Example one</option>
                            <option>Example one</option>
                            <option>Example one</option>
                            <option>Example one</option>
                            <option>Example one</option>
                            <option>Example one</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <button type="button" class="btn btn-danger wrn-btn">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</div>
<div class="card" routerLink = "/map">
    <div class = keptarolo>
        
        <img class = "kep" src="assets/logo-black.png" alt="">
        
            
        <p style="margin-top: 40px; margin-left: 20px">Budapest, 100. kerület</p>
    
    </div>
    <blockquote class="blockquote-mb-0">
      
      <footer class="blockquote-footer">Ennek az ára <cite title="Source Title">xx Ft</cite></footer>
    </blockquote>
  </div>

</body>
<!-- <div class="container">
    <form>
    
      <div class="wrapper">
        <p>English</p>
        <div class="search-container">
          <input type="text" class="search" placeholder="Location">
          <input type="text" class="date-from" placeholder="Check In > Check Out">
          <input type="text" class="date-to" placeholder="Number of people">
          <button type="submit" class="button">Search</button>
        </div>
      </div>
      
      
    </form>
      
    
    </div> -->